@import 'https://at.alicdn.com/t/font_470131_34c1gbeito869a4i.css';
@import 'nib';
@import './lib/mixin';
@import './lib/reset';
@import './lib/main';
@import './lib/widget';
// pages
@import './pages/login';
@import './pages/dynamics';
@import './pages/course-detail';
@import './pages/course-contents';
@import './pages/activities';
@import './pages/tasks';
@import './pages/message';
@import './pages/personal';
@import './pages/activity-detail';
@import './pages/micro-course-detail';
@import './pages/courses';
@import './pages/works-detail';

