<div class="set-block">
  <div class="block">
    <label for="old-pwd">
      <input id="old-pwd" type="password" placeholder="原密码" required ng-model="pwdForm.oldPwd">
    </label>
  </div>
  <div class="block">
    <label for="new-pwd">
      <input id="new-pwd" type="password" placeholder="新密码" required ng-model="pwdForm.newPwd">
    </label>
  </div>
  <div class="block">
    <label for="confirm-pwd">
      <input id="confirm-pwd" type="password" placeholder="确认密码" required ng-model="pwdForm.confirmPwd" />
    </label>
  </div>
</div>