<div class="profile-block">
  <div class="block">
    <span class="name">姓名</span>
    <span class="info">{{profile.name}}</span>
  </div>
  <div class="block">
    <span class="name">学号</span>
    <span class="info">{{profile.identity}}</span>
  </div>
  <div class="block">
    <span class="name">行政班</span>
    <span class="info">{{profile.className}}</span>
  </div>
  <a ui-sref="orgList" class="block">
    <span class="name">所属学校
      <i>(点击修改)</i>
    </span>
    <span class="info">{{profile.orgName}}</span>
  </a>
</div>