.login-container {
  background:#FAFAFA;
}
.login-wrapper {
  padding: rem(60) rem(20);
  label {
    display: block;
    margin: 0 auto;
    height: rem(90);
    position: relative;
    left:0;
    border: 1px solid #DBDBDB;
    padding-right: rem(80);
    border-radius: rem(5);
    background: #FFF;
    margin-bottom:rem(20);
    input {
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      padding: 0 rem(80) 0 rem(36);
      background: none;
      border: none;
    }
    .icon {
      position: absolute;
      z-index: 22;
      display: block;
      width: rem(80);
      top: 50%;
      right:0;
      margin-top:rem(-43);
      height: rem(86);
      text-align: center;
      line-height: rem(86);
      border-radius: rem(5);
      font-size: rem(44);
      color: #e3e3e3;
      background: #FFF;
      border-right: 1px solid #DDD;
      &:last-child {
        color: #e3e3e3;
        border: none;
      }
    }

    &.name {
      .icon {
        &:active {
          color: #11b6f2;
        }
      }
    }

    &.pwd {
      .icon{
        font-size:rem(38);
        &.on{
        color: #11b6f2;
        }
      }
      
    }

    &:last-child {
      border: none;
      margin: rem(60) auto;
      padding: 0;

      button {
        width: 100%;
        height: rem(88);
        margin: 0;
        border: none;
        display: block;
        background: #11b6f2;
        box-sizing: border-box;
        border-radius: rem(5);
        line-height: rem(88);
        font-size: rem(34);
        color: #FFF;

        &:disabled {
          background: #9ddff7;
          cursor: no-drop;
        }

        &:active {
          background: #045573;
        }
      }
    }
  }
  .third {
    box-sizing: border-box;
    padding: rem(30);
    margin-top: rem(200);
    font-size: rem(24);
    clearfix();

    a {
      width: 33.33%;
      float: left;
      text-align: center;
      color: #222;
      font-size: rem(20);

      img {
        width: rem(88);
        margin: rem(10) auto;
      }

      span {
        margin: 0 auto;
        font-size: rem(20);
        color: #222;
        line-height: rem(40);
      }
    }
  }
}