.intro {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  color: #fff;
  p {
    font-size: rem(34);
    line-height: 1.8;
    margin-top: rem(400);
  }
  .smile {
    width: rem(82);
    height: rem(66);
    margin-top: rem(85);
    display: inline-block;
  }
  .arrow-intro {
    width: rem(99);
    height: rem(263);
    position: absolute;
    right: rem(25);
    top: rem(170);
  }
}


.tasks-list {
  padding: 0 0 0 rem(20);
  background: #FFF;
  .list-item {
    background: #fff;
    list-style: none;
    padding: rem(30) 0;
    border-bottom: 1px solid #DBDBDB;
    &:active {
      opacity: 0.9;
    }
    .cover {
      display: inline-block;
      vertical-align: middle;
      width: rem(320);
      height: rem(180);
      border-radius: rem(5);
      position: relative;
      overflow: hidden;
      .icon, img {
        position: absolute;
        left: 50%;
        font-size: rem(70);
        color: #fff;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      img {
        width: 100%;
      }
    }
    .desc {
      overflow: hidden;
      display: inline-block;
      vertical-align: middle;
      box-sizing: border-box;
      width: rem(360);
      height:rem(180);
      padding-left: rem(4);
      position: relative;
      .title {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: rem(32);
        line-height: rem(40);
        color: #333;
      }
      .authorDetail {
        color: #a0a0a0;
        padding-top: rem(10);
        overflow: hidden;
        font-size: rem(28);
        span {
          width: rem(190);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin-left: rem(10);
        }
        img, span {
          display: inline-block;
          vertical-align: middle;
        }
        .avatarImg {
          width: rem(50);
          height: rem(50);
          border-radius: 50%;
          display: inline-block;
          vertical-align: middle;
        }
      }
      .time {
        font-size: rem(21);
        line-height: rem(60);
        color: #939393;
      }
      .removeTask {
        position: absolute;
        right: 0;
        bottom: 0;
        width: rem(40);
        height: rem(40);
        line-height: rem(40);
        span {
          display: block;
          text-align: center;
          font-size: rem(36);
          color: #939393;
        }
      }
      .progress {
        height: rem(50);
        padding-top: rem(20);
        font-size: rem(22);
        box-sizing: border-box;
        line-height: rem(30);
        margin: 0;
        color: #11b6f2;
        .iconfont {
          font-size: rem(24);
        }
        &.complete {
          color: #ffb301;
        }
      }
    }
  }
}



.popup.dialog .popup-content {
  padding-left:0;
  padding-right:0;
  .des{
    font-size:rem(34);
  }
  .choose-option {
    padding: rem(20) 0;
    height: rem(80);
    span {
      height: rem(60);
      width: rem(160)
      margin: 0 rem(40);
      border: 1px solid #11b6f2;
      line-height: rem(60);
      border-radius: rem(30);
      box-sizing: border-box;
      color: #11b6f2;
      &.curr {
        background: #11b6f2;
        color: #FFF;
      }
    }
  }
}

