html{
  height:100%;
}
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  //font-family: arial, 'Microsoft Yahei', sans-serif;
  font-family: PingFangSC-Regular, 'Noto SansCJK', 'Droid Sans', sans-serif
}

html, body, h1, h2, h3, h4, h5, p, ul, li, ol, label, a, img, button, form, input, textarea, select {
  outline: none;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
}

img {
  display: block
}

p {
  /*text-align justify
  text-justify inter-ideograph*/
  word-break: break-all
}

input, select {
  height: rem(60);
  font-size: rem(24);
  //font-family: HYQiHei, sans-serif;
  font-family: sans-serif;
  box-sizing: border-box;
  border: none;
  padding: 0 8px;
  width: 100%;
  background: #FFF;
  appearance: none;
  -webkit-appearance: none;
}

textarea {
  box-sizing: border-box;
  border: none;
  resize: none;
}

span {
  display: inline-block;
}

i, em {
  font-style: normal
}
